
[APPLICATION]
changefile = last_change_id.txt

[AMQP]
host = localhost
port = 5672
#;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
# For TLS, set `port` to a TLS port on the exchange.
# A TLS connection requires the following options:
# # The trust store (The CA certs you trust).
# keystore = /path/to/keystore.jks
# # The passphrase used to access the trust store.
# keystore_passphrase = password_for_the_keystore
#;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
vhost = /
user = guest
password = guest
exchange = grouper_exchange
route_key = kiki.grouper
