asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
certifi==2017.7.27.1
cffi==1.10.0
characteristic==14.3.0
chardet==3.0.4
commentjson==0.6
constantly==15.1.0
cryptography==2.0.3
enum34==1.1.6
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.18
Jinja2==2.7.3
klein==15.0.0
ldaptor==14.0
MarkupSafe==0.23
MySQL-python==1.2.5
pyasn1==0.3.4
pyasn1-modules==0.1.4
pycparser==2.18
pycrypto==2.6.1
PyJWT==1.5.3
pylru==1.0.9
pyOpenSSL==17.3.0
pyparsing==2.1.1
requests==2.18.4
service-identity==17.0.0
six==1.10.0
treq==17.8.0
Twisted==17.5.0
txAMQP==0.6.2
urllib3==1.22
Werkzeug==0.11.9
zope.interface==4.4.2
