[APPLICATION]
log_level = DEBUG
sqlite_db = groups.db
group_map = groupmap.json

[LDAP]
log_level = WARN
url = ldap://127.0.0.1:389/
start_tls = 1

[AMQP]
log_level = DEBUG
host = localhost
port = 5672
exchange = grouper_exchange
vhost = /
user = guest
passwd = guest
queue = ldap_group_00
route_map = queuemap.json

