[APPLICATION]
log_level = DEBUG

[AMQP]
log_level = DEBUG
host = localhost
port = 5672
exchange = grouper_exchange
vhost = /
user = guest
passwd = guest
queue = ldap_worker
route_map = queuemap.json

[PROVISIONER]
log_level = DEBUG
sqlite_db = groups.db
group_map = groupmap.json
url = ldap://127.0.0.1:389/
start_tls = 1
base_dn = o=lafayette
bind_dn = cn=manager,o=lafayette
passwd = PASSWORD
empty_dn = cn=nobody,ou=nowhere,o=lafayette

